<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  autoReload="true"
		  throwExceptions="false">
	<variable name="appName" value="Api" />
	<variable name="path" value=".\Logs" />
	<targets>
		<target xsi:type="File"
				name="default"
				layout="${longdate} ${uppercase:${level}} ${message}"
				fileName="${appName}/${shortdate}.log" />
		<target name="console" xsi:type="Console" layout="${longdate} ${uppercase:${level}} ${message}" />

	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="default" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>